{% extends 'base.html' %}

{% block head %}
<title>Speech Recognition</title>
{% endblock %}

{% block body %}
    <div class="input-audio">

        <form method="POST" action="/input/">

            <input  type="button" name="record" id="record_button" value="record">

        </form>

    </div>
    <script>
        document.getElementById("record_button").addEventListener("click", takeinput());
        function takeinput()
        {
            navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => {
            const mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.start();
    
            const audioChunks = [];
            mediaRecorder.addEventListener("dataavailable", event => {
            audioChunks.push(event.data);
            });
    
            mediaRecorder.addEventListener("stop", () => {
            const audioBlob = new Blob(audioChunks);
            const audioUrl = URL.createObjectURL(audioBlob);
            const audio = new Audio(audioUrl);
            audio.play();
            });
    
            setTimeout(() => {
            mediaRecorder.stop();
            }, 3000);
            });
        }
    </script>
{% endblock %}
