{% extends 'base.html' %}

{% block head %}
<title>Speech Recognition</title>
{% endblock %}

{% block body %}
    <div class="input-audio" id="audio">
        <input onclick="takeinput()" type="button" name="record" id="record_button" value="record">

     

    </div>
    <script>
        
        function takeinput()
        {var device = navigator.mediaDevices.getUserMedia({audio: true});
            var items = [];
            device.then( stream=> {
                var recorder= new MediaRecorder(stream);
                recorder.ondataavailable = e => {
                    items.push(e.data);
                    if(recorder.state == 'inactive')
                    {

                        var blob = new Blob(items, {type: 'audio/webm'});
                        var audio = document.getElementById("audio");
                        var mainaudio = document.createElement('audio');
                        mainaudio.setAttribute('controls', 'controls');
                        audio.appendChild(mainaudio);
                        mainaudio.innerHTML = '<source src= "' + URL.createObjectURL(blob) + '" type="video/webm"/>';
                    }
                }
                recorder.start(100);
                setTimeout(() => {
                    recorder.stop();

                }, 5000);
            })
        }
    </script>
{% endblock %}
